.padre{
    background-color: plum;
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: row;
    
}

.hijo{
    background-color: yellow;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.right{
    background-color: yellow;
    margin-left: auto;
}